<div class='panel panel-primary' *ngIf='account'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + account.accountName }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row top-buffer'>
                    <div class='col-md-3'>ID:</div>
                    <div class='col-md-6'>{{account.accountId}}</div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-3'>Number:</div>
                    <div class='col-md-6'>
                        <input type="text" [(ngModel)]="account.accountNumber"/>
                    </div>
                </div>
                <div class='row top-buffer'>
                    <div class='col-md-3'>Name:</div>
                    <div class='col-md-6'>
                        <input type="text" [(ngModel)]="account.accountName"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:100px'>
            <i class='glyphicon glyphicon-chevron-left'></i>Cancel</a>
        <a class='btn btn-default' (click)='onSave()' style='width:100px'>Save</a>        
    </div>
</div>